---
import NavLink from './NavLink.astro';

interface Props {
    activePage: string
}
const { activePage } = Astro.props
---


<nav id="top" class="relative z-[99999] flex justify-between items-center px-4 w-full max-w-7xl h-20 mx-auto text-primary-50">
    
    <a href="/">
        <div class="flex items-center gap-4 text-xl font-bold italic uppercase tracking-widest">
            <img src="/img/logo.png" alt="Logo" class="translate-y-6 -rotate-6">
            <span>
                <span class="text-primary-500">Vitality</span><span>Fitness</span>
            </span>
        </div>
    </a>
    
    <ul class="flex items-center gap-4 font-medium text-md">
        
        <NavLink to="/" name="home" activePage={activePage}>
            Home
        </NavLink>

        <NavLink to="/facility" name="facility" activePage={activePage}>
            Facility
        </NavLink>

        <NavLink to="/services" name="services" activePage={activePage}>
            Services
        </NavLink>

        <NavLink to="/about" name="about" activePage={activePage}>
            About
        </NavLink>

        <NavLink to="/contact" name="contact" activePage={activePage}>
            Contact
        </NavLink>

        <NavLink to="/book-consult" name="book-consult" activePage={activePage} isCta={true}>
            Book Consult
        </NavLink>

        <NavLink to="https://www.facebook.com/VFpersonaltrainer" isExternal={true}>
            <img src="/img/social-icon-facebook.png" />
        </NavLink>
    </ul>
    
</nav>
